@page "/factory"

@inject IA_AbstractFactory<ISample_001> factory
@inject IA_AbstractFactory<ISample_002> sample2Factory
@inject IUserDataFactory userDataFactory

@inject IVehicleFactory vehicleFactory

<PageTitle>Factory</PageTitle>

<h1>Factory Pattern</h1>

<h2>@currentTime?.CurrentDateTime</h2>
<h2> The random value is: @randomValue?.RandomValue</h2>
<h2> User is: @user?.Name</h2>

<h2> The Vehicule is: @vehicle?.VehicleType</h2>
<h2> @vehicle?.Start()</h2>

<button class="btn btn-primary" @onclick="GetNewTime">Get New Time</button>

@code {
    ISample_001? currentTime;
    ISample_002? randomValue;
    IUserData? user;

    IVehicule? vehicle;

    protected override void OnInitialized()
    {
        user = userDataFactory.Create("Simon Bolivar");
    }

    private void GetNewTime(){
        currentTime = factory.Create();
        randomValue = sample2Factory.Create();
        vehicle = vehicleFactory.Create("Van");
    }
}