@page "/factory"
@*@using Patrons.Samples.Factory*@

@inject ISample_001 sample

<PageTitle>Factory</PageTitle>

<h1>Factory Pattern</h1>

<h2>@currentTime?.CurrentDateTime</h2>

<button class="btn btn-primary" @onclick="GetNewTime">Get New Time</button>

@code {
    ISample_001? currentTime;
    private void GetNewTime(){
        currentTime = sample;
    }
}