@page "/factory"

@inject IA_AbstractFactory<ISample_001> factory

<PageTitle>Factory</PageTitle>

<h1>Factory Pattern</h1>

<h2>@currentTime?.CurrentDateTime</h2>

<button class="btn btn-primary" @onclick="GetNewTime">Get New Time</button>

@code {
    ISample_001? currentTime;
    private void GetNewTime(){
        currentTime = factory.Create();
    }
}